<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./popup.js"></script>
</head>

<body>
    <h1>AGENDAMENTO DE HORARIO</h1>
    <form method="post" action="/formularioEnviado">
        <label for="nome">Nome: </label>
        <input type="text" name="nome"><br><br>
        <label for="sobrenome">Sobrenome: </label>
        <input type="text" name="sobrenome"><br><br>
        <label for="data">Data: </label>
        <input type="date" name="data"><br><br>
        <label for="hora">Hora: </label>
        <input type="time" name="hora"><br><br>
        <button name="Enviar" onclick="agendado()">Enviar</button>
    </form>
</body>

</html>